.DS_Store
node_modules
build/
.svelte-kit/
package/

.vercel_build_output/
*.swp
.env
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.pnp
.pnp.js

# testing
coverage

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
